<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="PlayersDBCS" 
		     connectionString="Data Source=.\PlayersDB.db;Version=3;"

		     providerName="System.Data.SqlClient"/>
	    <add name="PlayersDBConnectionString"
	         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\FI MUNI\4. semester\C#\Homeworks\GuessingGame\GuessingGame\PlayersDB.mdf&quot;;Integrated Security=True"
	         providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!--  
		     connectionString="Data Source=.\PlayersDB.db;Version=3;"
connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PlayersDB.mdf;Integrated Security=True"
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\FI MUNI\4. semester\C#\Homeworks\GuessingGame\GuessingGame\PlayersDB.mdf&quot;;Integrated Security=True"

-->